$prime: #FF1A00;
$orange:#F57F1E;
$blue: #097CB5;
$yellow: #F2A900;
$green: #0B7D35;
$dark: #13254D;
$light: #eef1f7;
$second: #0066ff;
$bg: #ffeecc;
$red: #B3121F;
$deep-dark:#12203D;


$font:  'Open Sans', sans-serif;

@import "normalize", "calculator";




